---
# tasks file for :events
# From file: events.py
- name: count_of_events

  cisco.dnac.events:
    state: query  # required
    tags: SomeValue  # string, required
    count: True  # boolean, required
    event_id: SomeValue  # string
  register: nm_count_of_events
