---
# tasks file forios_vlans
# From file: ios_vlans.py
- name: Replaces device configuration of listed VLANs with provided configuration

  cisco.ios.ios_vlans:
    config:
    - vlan_id: 20
      name: Test_VLAN20
      mtu: 700
      shutdown: disabled
    - vlan_id: 30
      name: Test_VLAN30
      mtu: 1000
    state: replaced
