---
# tasks file for :ios_vrf
# From file: ios_vrf.py
- name: Creates a list of import RTs for the VRF with the same parameters

  cisco.ios.ios_vrf:
    name: test_import
    rd: 1:100
    route_import:
    - 1:100
    - 3:100
