---
# tasks file for :ios_ospfv2
# From file: ios_ospfv2.py
- name: Parse the provided configuration with the exisiting running configuration

  cisco.ios.ios_ospfv2:
    running_config: "{{ lookup('file', 'parsed.cfg') }}"
    state: parsed
