---
# tasks file for :ios_lldp_interfaces
# From file: ios_lldp_interfaces.py
- name: Parse the commands for provided configuration

  cisco.ios.ios_lldp_interfaces:
    running_config: "{{ lookup('file', 'parsed.cfg') }}"
    state: parsed
