---
# tasks file for :ios_interfaces
# From file: ios_interfaces.py
- name: Replaces device configuration of listed interfaces with provided configuration

  cisco.ios.ios_interfaces:
    config:
    - name: GigabitEthernet0/3
      description: Configured and Replaced by Ansible Network
      enabled: false
      duplex: auto
      mtu: 2500
      speed: 1000
    state: replaced
