---
# tasks file forvmware_host_ssl_info
# From file: vmware_host_ssl_info.py
- name: Gather SSL thumbprint information about all ESXi Hosts in given Cluster

  community.vmware.vmware_host_ssl_info:
    hostname: '{{ vcenter_hostname }}'
    username: '{{ vcenter_username }}'
    password: '{{ vcenter_password }}'
    cluster_name: '{{ cluster_name }}'
  delegate_to: localhost
  register: all_host_ssl_info
