---
# tasks file for :nfv_profile
# From file: nfv_profile.py
- name: create_nfv_profile

  cisco.dnac.nfv_profile:
    state: create  # required
    device:  # required
    - deviceType: SomeValue  # string, required
      deviceTag: SomeValue  # string, required
      serviceProviderProfile:  # required
      - serviceProvider: SomeValue  # string, required
        linkType: SomeValue  # string, required
        connect: True  # boolean, required
        connectDefaultGatewayOnWan: True  # boolean, required
      directInternetAccessForFirewall: True  # boolean, required
      services:  # required
      - serviceType: SomeValue  # string, required
        profileType: SomeValue  # string, required
        serviceName: SomeValue  # string, required
        imageName: SomeValue  # string, required
        vNicMapping:  # required
        - networkType: SomeValue  # string, required
          assignIpAddressToNetwork: SomeValue  # string
        firewallMode: SomeValue  # string
      customNetworks:
      - networkName: SomeValue  # string, required
        servicesToConnect:  # required
        - serviceName: SomeValue  # string, required
        connectionType: SomeValue  # string, required
        vlanMode: SomeValue  # string, required
        vlanId: 1  #  number, required
      vlanForL2:
      - vlanType: SomeValue  # string, required
        vlanId: 1  #  number, required
        vlanDescription: SomeValue  # string, required
      customTemplate:
      - deviceType: SomeValue  # string, required
        template: SomeValue  # string, required
        templateType: SomeValue  # string, required
    profileName: SomeValue  # string, required
