---
# tasks file forevent_subscription
# From file: event_subscription.py
- name: update_event_subscriptions

  cisco.dnac.event_subscription:
    state: update  # required
    payload:  # required
    - filter:  # required
        eventIds:
        - SomeValue  # string
      subscriptionId: SomeValue  # string
      version: SomeValue  # string
      name: SomeValue  # string
      description: SomeValue  # string
      subscriptionEndpoints:
      - instanceId: SomeValue  # string
        subscriptionDetails:
          name: SomeValue  # string
          url: SomeValue  # string
          method: SomeValue  # string
          connectorType: SomeValue  # string
