---
# tasks file forvmware_host_feature_facts
# From file: vmware_host_feature_facts.py
- name: Check if ESXi is vulnerable for Speculative Store Bypass Disable (SSBD) vulnerability

  community.vmware.vmware_host_feature_facts:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    esxi_hostname: "{{ esxi_hostname }}"
  register: features_set
- set_fact:
    ssbd : "{{ item.value }}"
  loop: "{{ features_set.host_feature_facts[esxi_hostname] |json_query(name) }}"
  vars:
    name: "[?key=='cpuid.SSBD']"
- assert:
    that:
      - ssbd|int == 1
  when: ssbd is defined
'''
