---
# tasks file for :ios_vlans
# From file: ios_vlans.py
- name: Merge provided configuration with device configuration

  cisco.ios.ios_vlans:
    config:
    - name: Vlan_10
      vlan_id: 10
      state: active
      shutdown: disabled
      remote_span: 10
    - name: Vlan_20
      vlan_id: 20
      mtu: 610
      state: active
      shutdown: enabled
    - name: Vlan_30
      vlan_id: 30
      state: suspend
      shutdown: enabled
    state: merged
