---
# tasks file forvmware_host_service_info
# From file: vmware_host_service_info.py
- name: Gather info about ESXi Host

  community.vmware.vmware_host_service_info:
    hostname: '{{ vcenter_hostname }}'
    username: '{{ vcenter_username }}'
    password: '{{ vcenter_password }}'
    esxi_hostname: '{{ esxi_hostname }}'
  delegate_to: localhost
  register: host_services
'''
