---
# tasks file fornet_l3_interface
# From file: net_l3_interface.py
- name: Remove IP addresses on aggregate

  ansible.netcommon.net_l3_interface:
    aggregate:
    - name: eth1
      ipv4: 192.168.2.10/24
    - name: eth2
      ipv4: 192.168.3.10/24
      ipv6: fd5d:12c9:2201:1::1/64
    state: absent
"""
