---
# tasks file forios_lacp
# From file: ios_lacp.py
- name: Parse the commands for provided configuration

  cisco.ios.ios_lacp:
    running_config: "{{ lookup('file', 'parsed.cfg') }}"
    state: parsed
