---
# tasks file for :ios_vlan
# From file: ios_vlan.py
- name: Add vlan using aggregate

  cisco.ios.ios_vlan:
    aggregate:
    - {vlan_id: 100, name: test-vlan, interfaces: [GigabitEthernet0/1, GigabitEthernet0/2],
      delay: 15, state: suspend}
    - {vlan_id: 101, name: test-vlan, interfaces: GigabitEthernet0/3}
