---
# tasks file for :ios_config
# From file: ios_config.py
- name: check the startup-config against the running-config

  cisco.ios.ios_config:
    diff_against: startup
    diff_ignore_lines:
    - ntp clock .*
